## .NET
bin/
obj/
*.user
*.suo
.vs/
*.userprefs
.DS_Store

## NuGet
*.nupkg
*.nuspec
packages/
project.lock.json
project.fragment.lock.json
artifacts/

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Publish
publish/
PublishProfiles/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## ASP.NET Core
appsettings.Production.json
